## **Solicitudes a la Web**

In [1]:
import requests

In [2]:
response = requests.get('https://www.platzi.com')

El comando **?** puesto al final del objeto response, muestra información sobre el objeto.

In [3]:
response?

Type:        Response
String form: <Response [200]>
File:        ~/.cache/pypoetry/virtualenvs/myplatzidata-O_aroVKx-py3.7/lib/python3.7/site-packages/requests/models.py
Docstring:
The :class:`Response <Response>` object, which contains a
server's response to an HTTP request.

In [4]:
print(dir(response))

['__attrs__', '__bool__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__nonzero__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_content', '_content_consumed', '_next', 'apparent_encoding', 'close', 'connection', 'content', 'cookies', 'elapsed', 'encoding', 'headers', 'history', 'is_permanent_redirect', 'is_redirect', 'iter_content', 'iter_lines', 'json', 'links', 'next', 'ok', 'raise_for_status', 'raw', 'reason', 'request', 'status_code', 'text', 'url']

In [5]:
print(response.status_code)

200

In [6]:
print(response.headers['Date'])

Mon, 06 Apr 2020 13:19:12 GMT

## **Extracción de información del HTML**

Imorportamos librería BeautifulSoup para manejo del los HTML:

In [7]:
import bs4

Ahora hacemos la solicitud a la página requerida usando la librería request (que fue instanciada al inicio del jupyter)

In [8]:
response = requests.get('https://platzi.com/categorias/desarrollo/')
# print(dir(response))

Ahora uso **BeautifulSoup** para hacer parse de la respuesta (en general es parsear el HTML) y seleccionar la informacióin que quiero.

In [9]:
soup = bs4.BeautifulSoup(response.text, 'html.parser')

#courses_links = soup.select('.CarrersItem')
courses_links = soup.select('.LearningPathItem')
courses = [course['href'] for course in courses_links]

for course in courses:
    print(course)

/fundamentos-programacion/
/backend-ruby/
/backend-python/
/servidores/
/ai/
/base-de-datos/
/arquitecto/
/desarrollo-react/
/vue/
/desarrollo-php/
/react-native/
/desarrollo-unity/
/backend-go/
/multiplataforma/
/matematicas-programacion/
/firebase/
/asp-net/
/ibm-cloud/
/desarrollo-android/
/aws/
/datos/
/desarrollo-wordpress/
/seguridad-informatica/
/apple-fullstack/
/videojuegos/
/multiplataforma-xamarin/
/desarrollo-java/
/desarrollo-angular/
/iot/
/google-cloud/
/ciencia/
/backend-javascript/
/escuela-javascript/
/azure/

# **Introducción a Pandas**

## **Series**

In [2]:
import pandas as pd

series_test = pd.Series([100, 200, 300])

series_test

0    100
1    200
2    300
dtype: int64

In [3]:
series_test2 = pd.Series({1999: 48,
                          2000: 65,
                          2001:89})
series_test2

1999    48
2000    65
2001    89
dtype: int64

## **DataFrames**

In [4]:
df_test = pd.DataFrame({1999: [12, 53, 78], 
                        2000: [89, 43, 78], 
                        2001: [89, 78, 32]})
df_test

   1999  2000  2001
0    12    89    89
1    53    43    78
2    78    78    32

In [7]:
df_test2 = pd.DataFrame([[12, 53, 78],
                        [89, 43, 78],
                        [89, 78, 32]], 
                       columns=[1999, 2000, 2001])
df_test2

   1999  2000  2001
0    12    53    78
1    89    43    78
2    89    78    32